.uc_toggle_dialog {
  position: fixed;
  z-index: 99;
  right: 25px;
  bottom: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-indent: -5000px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  background: white;
  background-image: url(/modules/contrib/usercentrics/icons/privacy.svg);
  background-size: contain;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.uc_toggle_dialog:focus {
  transform: scale(1.2);
}
